div
  table
    thead
      tr: th Products
    tbody
      each product, i in products
        tr
          td 
            //a(href='/admin/post/') #{products.name} - #{products.brand}
            product.name