div
   
  


   table.table.table-hover
    thead
      tr
        th Name
        th Brand
        th Id
    tbody
      each product in products
        tr
          td=product.name
          td=product.brand
          td=product._id
          